.radio_buttons {
    margin: 20px;
    font-size: 14px
}
.radio_buttons div {
    float: left;
}
.radio_buttons input {
    position: absolute;
    left: -9999px;
}
.radio_buttons label {
    display: block;
    margin: 0 0 0 -1px;
    padding: 8px 10px;
    border: 1px solid transparent;
	color: #333;
    background-color: #ebebeb;
    border-color: #1f648b;
    cursor: pointer;
}
.radio_buttons input:checked + label {
	color: #fff;
	background-color: #3097D1;
    border-color: #1f648b;
}
.radio_buttons div:first-child label {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.radio_buttons div:last-child label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}